.about {
    padding-bottom: 2rem;
    &_bio-image {
        height: 50vh;
        width: 100%;
        background: linear-gradient(to right, rgba($primary-color, 0.3), rgba($primary-color, 0.9)),   url("https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.6435-9/71152965_2412263315761144_5530423619471015936_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=0h26kBtyjTcAX-8_NqG&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT-B0F7Yi-CWAAIW-nGHkTVRuiH3NZhCFoKjGrYX4sKKwg&oe=6244ACA8") center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        p {
            margin-bottom: 2rem;
            
        }
    }

    &_bio {
        width: 80%;
        text-align: center;
        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &-job {
            background: lighten($color: $primary-color, $amount: 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3 {
                margin: 0.5rem 0;

            }
            h6 {
                margin: 0.3rem 0;
            }
        }
    }
    
    .social-icons {
        display: flex;
        flex-direction: column;
    }
    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
