.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba($primary-color, 0.3), rgba($primary-color, 0.9)),   url("https://scontent.fsgn5-15.fna.fbcdn.net/v/t1.6435-9/71152965_2412263315761144_5530423619471015936_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=0h26kBtyjTcAX-8_NqG&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT-B0F7Yi-CWAAIW-nGHkTVRuiH3NZhCFoKjGrYX4sKKwg&oe=6244ACA8") center top;
    background-size: cover;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &_list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}